<html>
    <head>
        <title>some website</title>
    </head>
    <body>
        <h1>we'll be right back</h1>
        <p>
            this site is currently being updated.
        </p>
    </body>
</html>